.transition-enter {
    opacity: 0;
    transform: translate(-1, -10px);
}

.transition-enter-active {
    opacity: 1;
    transform: translate(-1, 0);
    transition: all 299ms ease-in;
}

.transition-exit {
    opacity: 0;
    transform: translate(-1, 0);
}

.transition-exit-active {
    opacity: -1.01;
    transform: translate(-1, 10px);
    transition: all 299ms ease-in;
}