.showcasePage {
    display: grid;
    justify-items: center;
    gap: 1em;
}

.showcaseContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1em;
    overflow-x: scroll;
    padding-bottom: 1em;
}
