.infoTextLink {
    color: var(--primary);
    cursor: pointer;
}

.loginInput {
    outline: none;
    background: none;
    border: 2px solid var(--background);
    border-radius: 0.5em;
    padding: 0.5rem;
    width: 100%;
    flex-wrap: nowrap;
}

.loginInput:focus {
    border-color: var(--primary);
}