.accSelectorContainer {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 3em;
}

.dropdown {
    background: var(--background);
    position: absolute;
    top: 2.5em;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 2px solid black;
    z-index: 10;
}

.dropdownItem {
    padding: 0.5rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.dropdownItem:last-child {
    border: none;
}

.dropdownItem:hover {
    border-radius: 0.5rem;
    background: var(--primary);
}

.searchForm {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
}

.searchInput {
    outline: none;
    background: none;
    border: 2px solid var(--background);
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.5rem;
    width: 100%;
    flex-wrap: nowrap;
}

.searchInput:focus {
    border-color: var(--primary);
}

.infoText {
    font-weight: 300;
    font-style: italic;
}

.userSearchBtn {
    height: inherit;
    width: 60px;
    flex-shrink: 0;
    border-radius: 0 0.5em 0.5em 0 !important;
}

.selectedUser {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.selectedUser > p {
    margin-left: 1em;
    font-weight: 700;
}