@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
  --background: #151c25;
  --primary: #f50057;
  --secondary: #25313f;
  --third-color: #e3e3e3;
  --secondary-gray: rgb(60, 60, 60);
  --max-app-width: 60em;
}

body {
  background-color: var(--background);
  color: white;
}

a {
  color: var(--primary);
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
