@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
  --background: #151c25;
  --primary: #f50057;
  --secondary: #25313f;
  --third-color: #e3e3e3;
  --secondary-gray: rgb(60, 60, 60);
  --max-app-width: 60em;
}

body {
  background-color: var(--background);
  color: white;
  padding: 1em;
  /* max-height: 100%; */
}

a {
  color: var(--primary);
}

.App {
  text-align: center;
}

.componentContainer {
  margin: 3em 0 3em 0;
}