.baseContainer {
    padding: 1em;
    width: 100%;
    max-width: var(--max-app-width);
    background: var(--secondary);
    border-radius: 0.5em;
}

.baseContainerTitle {
    background: var(--secondary);
    border-radius: 0.5em;
    font-weight: 700;
}

.baseContainerDescription {
    font-weight: 300;
    font-style: italic;
}

.dividerLine {
    margin: 1em 0;
    height: 2px;
    background: var(--primary);
}